<h2>Active Hiring Events</h2>

<div *ngFor="let hiringEvent of currentHiringEvents">
  <div
    style="margin: 10px 0 10px 0; border-radius: 15px; border: solid whitesmoke"
  >
    <div class="card-header">Current Hiring Event Event</div>
    <div class="card-body">
      <h5 class="card-title">{{ hiringEvent.hiringEventName }}</h5>
      <p class="card-text">Current status: {{ hiringEvent.status }}</p>
      <p class="card-text">Time created : {{ hiringEvent.createdAt }}</p>

      <a (click)="navigateToEvent(hiringEvent)" class="btn btn-primary"
        >Navigate to Hiring Event</a
      >
    </div>
  </div>
</div>

<div class="text-center">
  <div
    *ngIf="role === 'admin' || role === 'chair' || role === 'master'"
    class="card-body border-info bg-dark text-white"
    style="border-radius: 15px"
  >
    <h5 class="card-title">Create a new Hiring Event</h5>
    <p class="card-text">Enter the event info and get started</p>
    <a routerLink="/new-hiring-event" class="btn btn-primary">Get Started </a>
  </div>
</div>
