<div id="header">
    <button id="logout" (click)="logOut()">Log out</button>
</div>

<div id="active-courses">
    <h5> My Active Courses:</h5>
</div>

<input maxlength="30" #courseCodeBox (input)="handleCourseCode(courseCodeBox.value)" placeholder="Enter Course Code" />

<button class="btn btn-secondary" (click)="createHiringEvent()">Create new hiring Event</button>

<table>
    <tr id=" course-list " *ngFor='let event of events'>
        <td>{{event.courseCode}}</td>
        <td (click)="createEval() ">Add Evaluation</td>
        <td (click)="navigateToApplicants() ">View Applicants</td>
        <td (click)="viewAssigned(event) ">View Assigned</td>
        <td (click)="createAssignment(event)">Create Custom Assignment</td>
        <button class="btn btn-light" (click)="viewCourse(event) ">View Course</button>
    </tr>
</table>


<div id="evaluation " [style.visibility]="visibility ">
    <p (click)="close() ">Close</p>

    <form [formGroup]="evaluationForm " (ngSubmit)="save()">
        <div formArrayName="questions">
            <h3>Create Evaluation</h3>

            <div *ngFor="let question of questions.controls; let i=index ">
                <label>
                    Question:
                    <input type="text " [formControlName]="i">
                </label>
            </div>

        </div>

        <button (click)="addQuestion() ">New Question</button>
        <button (click)="submitResponse()">Save</button>
    </form>
</div>

<div id="assigned " [style.visibility]="taVisibility ">
    <p (click)="close() ">Close</p>
    <h4>Suggested TA's:</h4>
    <ol *ngFor='let ta of suggestedTAs'>
        <li>    
            {{ta}} 

            <button (click)="confirm(ta)">Confirm</button>
            <button (click)="reject(ta)">Reject</button> 
        </li>
        
    </ol>
   
</div>

<!--This is a chair and admin functionality-->
<div id="custom-assignment" [style.visibility]="customVisibility ">
    <p (click)="close() ">Close</p>
    <h4>Create Custom TA Assignment:</h4>
    <ol>
        <form [formGroup]="taForm " (ngSubmit)="save()">
            <div formArrayName="customTA">
                <h4>Create Custom TA Assignment:</h4>

                <div *ngFor="let ta of customTA.controls; let i=index ">
                    <label>
                        TA Name:
                        <input type="text " [formControlName]="i">
                    </label>
                </div>
    
            </div>
    
            <button (click)="addTA()">Add TA</button>
            <button (click)="saveTA()">Save</button>
        </form>
    </ol>
    
</div>