#header{
    width: 100%;
    background-color: #EEE;
    height: 10%;
}

#header #logout{
    float: right;
    background-color: #4F2683;
}

#header img{
    float: left;
}

#active-courses{
    width: 100%;
    background-color: #4F2683;
}

#active-courses h5{
    width: 100%;
    color: #fff;
}

#evaluation{
    visibility: hidden;
    background-color: #272727;
    opacity: 95%;
    border-radius: 45px;
    position: absolute;
    left: 6.05%;
    right: 6.05%;
    top: 10.09%;
    bottom: 35.47%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#evaluation button {
    background: #C4C4C4;
    border-radius: 32px;
}

#evaluation a{
    display: block;
}

#custom-assignment{
    visibility: hidden;
}

#assigned{
    visibility: hidden;
    background-color: #272727;
    border-radius: 45px;
    opacity: 95%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width: 100%;
    background-color: #E5E5E5;
}

td{
    border: 1px solid black;
}