#header{
    width: 100%;
    background-color: #EEE;
    height: 10%;
}

#header #logout{
    float: right;
    background-color: #4F2683;
}

#header img{
    float: left;
}

#active-courses{
    width: 100%;
    background-color: #4F2683;
}

#active-courses h5{
    width: 100%;
    color: #fff;
}

#evaluation{
    visibility: hidden;
    background-color: #272727;
    opacity: 95%;
    border-radius: 45px;
    position: absolute;
    left: 6.05%;
    right: 6.05%;
    top: 10.09%;
    bottom: 35.47%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#evaluation button {
    background: #C4C4C4;
    border-radius: 32px;
}

#evaluation a{
    display: block;
}

#custom-assignment{
    visibility: hidden;
}

#assigned{
    visibility: hidden;
    background-color: #272727;
    border-radius: 45px;
    opacity: 95%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* table{
    width: 100%;
    border-collapse:separate;
    border-radius: 10px;

}

td{
    border: solid rgb(219, 219, 219) 1px;
    
}

tr{
    
  border-radius: 10px;
} */

table {
    border-collapse:separate;
    border:solid rgb(102, 102, 102) 5px;
    border-radius:20px;
    -moz-border-radius:20px;
}

td, th {
    border-left:solid rgb(224, 224, 224) 1px;
    border-bottom:solid rgb(0, 0, 0) 1px;
    padding: 5px;
}

th {

    border-top: none;
}



tr:last-child {
    border: none;
}

td:first-child, th:first-child {
     border-left: none;
     
}



.textBox {
    margin: 10px;
    border-radius: 10px;
    padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
}