<br>
<div class="counters">
    <div *ngFor="let num of numbers">
        <div class="circle">{{num}}</div>
    </div>
</div>

<ng-container *ngIf="show" >

  <div class = "row">
    <div class = "col-md">
    <div cdkDropList class="applicants" (cdkDropListDropped)="drop($event)">
        <div class="box" *ngFor="let name of applicantResponses" cdkDrag>
            <div class="placeholder" *cdkDragPlaceholder></div>
            {{name.applicantName}}
        </div>
    </div>


    <div class="counters">
        <div *ngFor="let name of applicantResponses">
            <button type= "button" (click)="findApp(name.applicantName)" class=" btn btn-primary">View</button>
         <hr style =" visibility: hidden;">
          </div>
    </div>
  </div>

  <div class = "col-md">

    <ng-container *ngIf="view">
      <div class="displayApp">
          <div *ngFor="let apps of foundApp">
              <p>Name: {{ apps.foundName }}</p>
              <p>Email: {{ apps.foundEmail }}</p>
              <div *ngFor="let response of apps.foundResponses">
                  <p>Question: {{ response.foundQuestion }}</p>
                  <p>Answer: {{ response.foundAnswer }}</p>
              </div>
          </div>
      </div>
  </ng-container>

  </div>

  </div>

    <div class="submission">
        <label *ngFor="let cb of checkboxes">
            <input type="checkbox" [(ngModel)]="cb.state">{{cb.label}}
        </label>
        <p><button class="btn btn-success" [disabled]="buttonState()" (click)="submit($event)" id="bt">Submit</button>
    </div>
</ng-container>



<ng-container *ngIf="show2">
    <div cdkDropList class="applicants" (cdkDropListDropped)="drop($event)">
        <div class="box" *ngFor="let name of applicantResponses" cdkDragDisabled>
            <div class="placeholder" *cdkDragPlaceholder></div>
            {{name.applicantName}}
        </div>
    </div>

    <div class="counters">
        <div *ngFor="let name of applicantResponses">
            <button class="btn btn-warning" (click)="findApp(name.applicantName)" class="applications">○ View</button>
        </div>
    </div>
</ng-container>

<!-- <button class="btn btn-light" id="back" (click)="navigateToInstructorHome()"> ↩️ Back</button>
<button class="btn btn-info" (click)="displayApp()">{{ viewButton }}</button> -->
