<h1>Choose Order of Algorithm</h1>

<p>Criteria for first priority:</p>

<form #myForm="ngForm" (submit)="runAlgorithm(myForm)" novalidate>
    <div>
       <input id="app" type="radio" value="app" name="order" ngModel required>
       <label for="app">Applicant preferences</label>
    </div>
 
    <div>
       <input id="prof" type="radio" value="prof" name="order" ngModel required>
       <label for="prof">Professor preferences</label>
    </div>
 
    <div *ngIf="isSubmitted && myForm.invalid">
       <p>Please select either value</p>
    </div>
 
    <button type="submit">Get TA Allocation</button>
 </form>