<h1 *ngIf="role === 'admin' || role === 'chair' || role === 'master'; else General" style="margin-top: 50px; ">Register Instructor</h1>
<ng-template #General><h1  style="margin-top: 50px; ">Sign Up</h1></ng-template>


<form #signUp="ngForm" (ngSubmit)="signup(signUp.value)">
  <input
    class="textBox"
    ngModel
    name="name"
    #nameVal="ngModel"
    placeholder="name"
    id="nameVal"
  />

  <input
    class="textBox"
    ngModel
    name="email"
    #emailVal="ngModel"
    placeholder="email"
    id="emailVal"
  />
<div *ngIf="role === 'admin' || role === 'chair' || role === 'master'; else New">
  <datalist name="rolesList" id="rolesList">
    <option  value="instructor"></option>
  </datalist>
</div>

<ng-template #New >
  <datalist name="rolesList" id="rolesList">
    <option value="chair"></option>
    <option value="admin"></option>
  </datalist>
</ng-template>


  <input
    class="textBox"
    ngModel
    name="role"
    #courseVal="ngModel"
    placeholder="select role"
    autoComplete="on"
    list="rolesList"
    id="roleVal"
    required
  />

  <input
    class="textBox"
    ngModel
    name="password"
    #passwordVal="ngModel"
    placeholder="password"
    id="passwordVal"
    type="password"
  />

  <input
    class="textBox"
    ngModel
    name="passwordConfirm"
    #passwordConfirmVal="ngModel"
    placeholder="passwordConfirm"
    id="passwordConfirmVal"
    type="password"
  />

  <input class="textBox" type="submit" />
</form>
