
<h1>Viewing {{ currentCourse.courseCode }}</h1>
<hr />
<h4>Course Info</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Course Name</th>
      <th scope="col">Lecture Hours</th>
      <th scope="col">Lab/Tutorial Hours</th>
      <th scope="col">Number of Sections</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ courseName }}</td>
      <td>{{ lecHours }}</td>
      <td>{{ ltHours }}</td>
      <td>{{ noSections }}</td>
    </tr>
  </tbody>
</table>

<button type=" button" class="btn btn-dark" (click)="returnToHiringEvent()">
  Return
</button>
<br />
<br />
<div id="evaluation " *ngIf="!hasInstructor">
  <div class="alert alert-danger" role="alert">
    No instructor Assigned to this course. Please assign an instructor.
  </div>
</div>

<div *ngIf="role === 'instructor' || role === 'master'">
  <h5>Create new Evaluation</h5>
  <!--<app-responses-upload-page [(currentCourse)]='currentCourse' [uploadType]="'question'"></app-responses-upload-page> -->

  <button type=" button" class="btn btn-success" (click)="createEval()">
    Add Questions
  </button>
</div>

<div id="evaluation " *ngIf="createQuestions">
  <button type=" button" class="btn btn-danger" (click)="createEval()">
    Close
  </button>

  <form [formGroup]="evaluationForm" (ngSubmit)="save()">
    <div formArrayName="questions">
      <h3>Create Evaluation</h3>

      <div *ngFor="let question of questions.controls; let i = index">
        <label>
          Question:
          <input type="text " [formControlName]="i" />
        </label>
      </div>
    </div>

    <button type="button" class="btn btn-secondary" (click)="addQuestion()">
      New Question
    </button>
    <button type="button" class="btn btn-light" (click)="save()">Save</button>
  </form>
</div>
<hr />

<div *ngIf="role === 'chair' || role === 'admin' || role === 'master'">
  <div *ngIf="!hasInstructor">
    <h3>Select a Course instructor</h3>
    <div ngbDropdown class="d-inline-block">
      <button
        class="btn btn-outline-primary"
        id="dropdownMenuButton"
        ngbDropdownToggle
      >
        List of Instructors
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <button
          *ngFor="let instructor of instructors"
          ngbDropdownItem
          (click)="updateCourseInstructor(instructor)"
        >
          {{ instructor.name }}
        </button>
      </div>
    </div>
  </div>

  <h3>Matching Applicants</h3>

  <div *ngFor="let match of currentMatches.applicants" class="card">
    <h4 class="card-header">{{ match.applicantName }} : {{ match.status }}</h4>
    <div class="card-body">
      <h4>Email : {{ match.applicantEmail }}</h4>
      <h4>Priority : {{ match.priority }}</h4>
      <button type="button" class="btn btn-danger" (click)="removeTA(match)">
        Remove TA
      </button>
      <button type="button" class="btn btn-primary">
        Edit Hours Allocation
      </button>
    </div>
  </div>

  <button type="button" class="btn btn-success" (click)="toggleAddTA()">
    Add TA
  </button>
</div>

<div *ngIf="addTA">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="applicantName"> Name{{ " " }} </label>
      <input id="applicantName" type="text" formControlName="applicantName" />
    </div>

    <div class="form-group">
      <label for="applicantEmail"> Email{{ " " }} </label>
      <input id="applicantEmail" type="text" formControlName="applicantEmail" />
    </div>

    <div class="form-group">
      <label for="applicantEmail"> Hours </label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="hours"
          id="hours"
          value="5"
          formControlName="hours"
        />
        <label class="form-check-label" for="hours"> 5 </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="hours"
          id="hours"
          value="10"
          formControlName="hours"
        />
        <label class="form-check-label" for="hours"> 10 </label>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>

<hr />

<h3>TA Hours Allocated</h3>

<div *ngIf="role === 'chair' || role === 'master'">
  <h6>Currently allocated {{ currentMatches.hoursFilled }} hours</h6>
  Note: Hours can only be allocated in 5 hours intervals

  <div>
    <h6>This course requires {{ currentCourse.requiredHours }} hours</h6>
    <button type="button" class="btn btn-primary" (click)="changeHours()">
      Change
    </button>
    <div id="changeHoursForm" [style.visibility]="visibility">
      <form>
        <label>
          Input the new hours
          <input type="text" required #newHours />
        </label>
        <button
          type="button"
          class="btn btn-success"
          (click)="submitResponse(newHours.value)"
        >
          Change
        </button>
        <button type="button" class="btn btn-danger" (click)="close()">
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="role === 'chair' || role === 'master' || role === 'admin'">
  <hr />
  <app-algorithm-order-selector
    [(currentCourse)]="currentCourse"
  ></app-algorithm-order-selector>
  <hr />
</div>

<div *ngIf="role === 'instructor' || role === 'master'">
  <div id="assigned ">
    <ol *ngFor="let ta of suggestedTAs">
      <li>
        {{ ta }}

        <button (click)="confirm(ta)">Confirm</button>
        <button (click)="reject(ta)">Reject</button>
      </li>
    </ol>
  </div>

  <app-instructor-ranking-page [(currentCourse)]="currentCourse">
  </app-instructor-ranking-page>
</div>
