<h1>
    Viewing {{currentCourse.courseCode}}

</h1>
<h2>Upload Questions</h2>
<app-responses-upload-page [(currentCourse)]='currentCourse' [uploadType]="'question'"></app-responses-upload-page>

<hr>

<h3>Matching Applicants</h3>

<div *ngFor='let match of currentMatches.applicants' class = "card">

<h4 class = "card-header">{{match.applicantName}}  : {{match.status}}</h4>
<div class = "card-body">
<h4>Email  : {{match.applicantEmail}}</h4>
<h4>Priority  : {{match.priority}}</h4>
<button type = "button" class = "btn btn-danger" (click) ="removeTA(match)">Remove TA</button>
<button type = "button" class = "btn btn-primary">Edit Hours Allocation</button>
</div>
</div>

<button type = "button" class = "btn btn-success" (click)="toggleAddTA()">Add TA</button>

<div *ngIf="addTA">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="applicantName">
        Name{{ "  "}}
      </label>
      <input id="applicantName" type="text" formControlName="applicantName">
    </div>

    <div class="form-group">
      <label for="applicantEmail">
        Email{{ "  "}}
      </label>
      <input id="applicantEmail" type="text" formControlName="applicantEmail">
    </div>


      <div class="form-group">
        <label for="applicantEmail">
          Hours
        </label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="hours" id="hours" value=5 formControlName="hours">
          <label class="form-check-label" for="hours">
            5
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="hours" id="hours" value=10 formControlName="hours">
          <label class="form-check-label" for="hours">
            10
          </label>
        </div>
      </div>

    <button class="btn btn-primary" type="submit">Submit</button>

  </form>

</div>


<h6>Currently allocated {{currentMatches.hoursFilled}} hours</h6>
Note: Hours can only be allocated in 5 hours intervals
<div>
  <h6>This course requires {{currentCourse.requiredHours}} hours</h6>  <button  type = "button" class = "btn btn-primary"  (click)="changeHours()">Change</button>
<div id="changeHoursForm" [style.visibility]="visibility">
    <form>
        <label>
            Input the new hours
            <input type="text" required #newHours>
        </label>
        <button type = "button" class = "btn btn-success" (click)="submitResponse(newHours.value)">Change</button>
        <button type = "button" class = "btn btn-danger" (click)="close()">Cancel</button>
    </form>
</div>
</div>

<div id="assigned " >
  <ol *ngFor='let ta of suggestedTAs'>
      <li>
          {{ta}}

          <button (click)="confirm(ta)">Confirm</button>
          <button (click)="reject(ta)">Reject</button>
      </li>

  </ol>
</div>



<hr>
<app-algorithm-order-selector [(currentCourse)]='currentCourse'></app-algorithm-order-selector>
<hr>

<app-instructor-ranking-page [(currentCourse)]='currentCourse'>
</app-instructor-ranking-page>
